name: deploy-lambda
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Git checkout
      uses: actions/checkout@v2
    - name: Py Lambda Deploy
      uses: mariamrf/py-lambda-action@1.0.1
      with:
        lambda_layer_arn: 'arn:aws:lambda:us-east-1:623894182146:layer:pymazda-deps'
        lambda_function_name:: 'pymazda'
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: 'us-east-1'
